## spifftastic nano highlighting nano!!
include "~/.nano/nanorc.nanorc"

## Ruby
include "~/.nano/ruby.nanorc"

## C/C++
include "~/.nano/c.nanorc"

## Python
include "~/.nano/python.nanorc"

## Bourne shell scripts
include "~/.nano/bash.nanorc"

## CSS
include "~/.nano/css.nanorc"

## HTML
include "~/.nano/html.nanorc"

## Markdown
include "~/.nano/markdown.nanorc"`

##Python
include "~/.nano/python.nanorc"

## JavaScript
include "~/.nano/js.nanorc"

## Java
include "~/.nano/java.nanorc"
